.avatar {
	width: 120px;
    height: 120px;
    border-radius: 120px;
    margin: 16px auto 0;
    display: block;
    border: 5px solid;
    border-color: #757575;
    -webkit-animation: load-image 3s;
    animation: load-image 3s;
    -webkit-animation-fill-mode: forward;
    animation-fill-mode: forward;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}